*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --lime: hsl(61, 70%, 52%);
    --red: hsl(4, 69%, 50%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --slate-100: hsl(202, 86%, 94%);
    --slate-300: hsl(203, 41%, 72%);
    --slate-500: hsl(200, 26%, 54%);
    --slate-700: hsl(200, 24%, 40%);
    --slate-900: hsl(202, 55%, 16%);
}
html,button{
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

body{
    background-color: var(--slate-100);
    color: var(--black);
    font-size: 1rem;
    line-height: 1.5;
    height: 100vh; /* Ensure body takes full height */
    display: flex; /* Apply flexbox to body */
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    margin: 0; /* Remove default margin */
    
}


.container {
    display: flex;
    justify-content: space-between;
    width: 100vh;
    max-width: 1200px;
    border-radius: 1rem;
    background-color: var(--white);
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); 
}


.light-color{
    color: var(--slate-700);
}
.heavyfont{
    font-weight: 900;
}
/* .container{
    max-width: 1200px;
    margin: 0 auto;
    margin: 1rem ;
    border-radius: 1rem ;
    background-color: var(--white);
    display: flex;
    overflow: hidden;
} */
.col-left
{
    width: 50%;
    padding: 1.5rem;
}
.col-right{
    width: 50%;
    padding: 1.5rem;
    border-radius: 0 0 0 5rem;
    background-color: var(--slate-900);
}

.header{
    width: 100%;
    display: flex;
    margin:  1rem 0 2rem;
}
.col-left h1{
    display: inline;
    font-size: 1rem;
    
}

.clear-all{
    font: inherit;
    display: inline-block;
    margin-left: auto;
    text-decoration: underline;
    border: none;
    background-color: #fff;
    cursor: pointer;
}
label{
    display: block;
    margin-bottom: .5rem;
}

input{
    font: inherit;
}


.form-flex p{
    display: block;
    padding:  .5rem;
    text-align: center;
    background-color: var(--slate-100);
}
.form-flex input{
    
    border: none;
    border-radius: 0.25rem;
    width: 100%;
    text-align: right;
    
}
.form-alert{
    color: var(--red);
    display: none;
}
.term-rate-flex{
    display: flex;
    justify-content: space-between;
    gap: 1fr;
}

.form-flex{
    display: flex;
    gap: 1fr;
    border: var(--black)1px solid;
    border-radius: .5rem;
    margin-right: 1rem;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.radio-div p{
    display: block;
    width: 100%;
    border: var(--black)1px solid;
    border-radius: .5rem;
    margin:.5rem 0;
    padding: .5rem;
    
}
.radio-div p input{
    margin-right: 1rem;
}
.radio-div{
    display: flex;
    flex-direction: column;
}
.selected {
    background-color: hsla(61, 70%, 52%, 0.2);
    border: 2px solid var(--lime);
    font-weight: 700;
    color: var(--black);
}



.calculate-repayments{
    margin-top: 1rem;
    border: none;
    background-color: var(--lime);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;justify-content: space-between;
}
button:hover,.calculate-repayments:hover{
    cursor: pointer;
    size: 1.1;
    transition: ease-in-out .2s;
}


/* tight side */
.col-right{
    color: var(--white);
}
.empty-result{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.empty-result p{
    margin: 1rem 0;
    
}
.empty-result :nth-child(2){
    font-weight: 900;
}
.hide{
    display: none;
}
.show
{
    display: block;
}


.description{
    color: var(--slate-100);
}

.repayment-box{
    border-radius: .5rem;
    margin: 1rem;
    background-color: var(--black);
}
.monthly-repayments,.total-repay{
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.monthly-repayments span,.total-repay span{
color: var(--lime);
    font-weight: 900;
    font-size: 1.2rem;
    padding: 0;
}
.monthly-repayments span{
    font-size: 3rem;

}